.detail {
    padding: 0.2em;
}

.channelTitle {
    display: flex;
    align-items: center;
    border-top: 1px solid rgb(199, 198, 198);
    border-bottom: 1px solid rgb(199, 198, 198);
    padding: 1em 0;

}

.channelImg {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}

.channelInfo {
    margin-left: 0.5em;
}

.channelInfo p {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}

.subscriberCount {
    color: rgb(99, 97, 97);
}

.description {
    white-space: pre-wrap;
}

.comment {
    border-top: 1px solid rgb(199, 198, 198);
    border-bottom: 1px solid rgb(199, 198, 198);
}

.reply {
    display: flex;
    margin: 1.5em 0;
}

.reply__content {
    margin-left: 0.5em;
}

.textOriginal {
    margin-top: 0;
}

.authorProfileImg {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}

.authorDisplayName {
    margin-top: 0;
    margin-bottom: 7px;
    font-weight: bold;
    font-size: 14px;
}

.textOriginal {
    font-size: 15px;
}

svg {
    color: #adaaaa;
}

.likeCount {
    margin-left: 0.3em;
}

.showReplies {
    cursor: pointer;
    color: #096fa0;
}

.reply_container {
    border: 1px solid black;
}

.displayNone {
    display: none;
}

.displayBlock {
    display: block;
}

.replies {
    display: flex;
    padding: 0.6em 0;
}

.replies__authorProfileImg {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}

.replies__content {
    margin-left: 0.5em;
}

.replies_authorDisplayName {
    margin-top: 0;
    font-weight: bold;
    font-size: 14px;
}

.replies_textOriginal {
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 7px;
}


@media screen and (max-width: 48rem) {
    .video {
        height: 250px;
    }
    
    .videoTitle {
        font-size: 16px;
    }
}