.container {
    padding: 1em;
    /* height: 18em; */
}

.container.grid {
    width: 25%;
}

.container.list {
    width: 100%;
    padding: 0.2em;
}

.video {
    /* display: flex; */
    width: 100%;
    /* height: 100%; */
    align-items: center;
    border: 1px solid lightgray;
    cursor: pointer;
    transition: transform 250ms ease-in;
}

.video.list {
    display: flex;
}

.video:hover {
    transform: scale(1.02);
}

.thumbnail {
    width: 100%;
    height: 100%;
}

.thumbnail.list {
    width: 40%;
}

.metadata {
    margin-left: 3em;
    margin-right: 0.5em;
}

.metadata.list {
    margin-left: 0.5em;
}

.title,
.channel {
    margin: 0;
}

.title {
    /* font-size: 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90%;
    height: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; */
    display:-webkit-box; 
    overflow:hidden; 
    text-overflow:ellipsis; 
    -webkit-line-clamp:2; 
    -webkit-box-orient:vertical; 
    line-height:20px;
    height: 2.5em;
}

.channel {
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

@media screen and (max-width: 48rem) {
    .container.grid {
        width: 100%;
        padding: 0.1em;
    }

    .video {
        display: flex;
    }
    
    .thumbnail {
        width: 40%;
    }

    .metadata {
        margin-left: 0.5em;
        margin-right: 0;
    } 
}