.header {
    display: flex;
    height: 4rem;
    padding: 0.8em 1em;
    background-color: black;
    color: white;
    position: fixed;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 1em;
    cursor: pointer;
}

.input {
    flex-basis: 100%;
    font-size: 1.2rem;
    outline: 0;
    padding: 0.5em;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-color: transparent;
}

.button {
    background-color: darkgray;
    border-color: transparent;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    outline: 0;
    padding: 0 1.3em;
}

.button svg {
    color: #514f4f;
    height: 100%;
    font-size: 1.4em;
}

.buttonImg {
    height: 100%;
    padding: 0.5em 0.2em;
}

@media screen and (max-width: 48rem) {
    .title {
        font-size: 16px;
    }

    .input {
        font-size: 14px;
    }
}